html,
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7em;
  font-size: 16px;
  color: #7f8c8d;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #34495e;
}

.splash-container {
  background-color: #f6f6f6;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member-registration-section,
.member-list-section {
  margin-top: 40px;
}

.member-list-name {
  color: #34495e;
  text-transform: uppercase;
  font-size: 1.2em;
}

.member-list-icon {
  text-align: center;
}

.pro-tip {
  font-size: 0.8em;
}

/* BUTTONS */
.button-xlarge {
  font-size: 150%;
}

.button-shuffle {
  color: white;
  background-color: #f08080;
}

/* TABLE */
.pure-table {
  width: 80%;
  border-left: 0;
  border-right: 0;

  tr {
    height: 60px;

    &:nth-child(even) {
      background-color: #f6f6f6;
    }
  }

  td,
  th {
    border-left: 0;
  }
}

/* ICONS */
i.fas {
  &.fa-gift {
    color: lightcoral;
  }

  &.fa-heart {
    color: deeppink;
  }
  &.fa-times {
    color: red;
    cursor: pointer;
  }
}
