<section class="actions-section">
  <button class="pure-button button-xlarge button-shuffle">
    Shuffle
    <i class="fas fa-random"></i>
  </button>
  <button class="pure-button button-xlarge button-restart">
    Restart
    <i class="fas fa-undo"></i>
  </button>
</section>