<section class="member-registration-section">
  <form class="pure-form" id="member-registration-form">
    <fieldset>
      <legend>Add a family member</legend>
      <input class="pure-input-1-4" type="text" id="name" placeholder="Name" required />
      <input type="text" id="spouse" placeholder="(Optional) Spouse" />
      <button type="submit" class="pure-button pure-button-primary">Add member</button>
    </fieldset>
  </form>
</section>